.Rproj.user
.Rhistory
.RData

R/archived.R
R/setup.R
R/plot.precision.R
R/precision.simulate.test.R
R/precision.simulate2.R
R/array.to.sample.assign.func.R

vignettes/prestore.obj.R
vignettes/prestore.obj.ori.Rdata

data/nuhdata.pl.ori.rda
data/uhdata.pl.ori.rda
data/random.generate.data.R

inst/doc
