.Rproj.user
.Rhistory
.RData
R/setup.R
R/hide.R
R/precision.simulate.test.R
R/precision.simulate2.R
R/array.to.sample.assign.func.R
R/plot.R

data/nuhdata.pl.ori.rda
data/uhdata.pl.ori.rda
data/random.generate.data.R

inst/doc
